@import url('https://fonts.googleapis.com/css2?family=Varela&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    /* list-style-type: none; */
    font-family: "Varela", sans-serif;
    scroll-behavior: smooth;
}


.slick-prev:before,
.slick-next:before {
    display: none !important;
}

.slick-slide {
    margin: 0 12px !important;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.slick-prev,
.slick-next {
    height: 52px !important;
    width: 52px !important;
}

.slick-prev {
    left: 0% !important;
}