html,
body {
  scroll-behavior: smooth;
}
.testi-slider .slick-dots {
  bottom: unset !important;
  top: 36px;
}
.testi-slider .slick-dots li button:before {
  color: #000000 !important;
  opacity: 1 !important;
  border-radius: 50%;
}
.testi-slider .slick-dots li.slick-active button:before {
  color: transparent !important;
  border: 1px solid black;
}
/* / slick css used in homepage, */
.testi-slider .slick-prev:before {
  content: url(../image/svg/left-arrow.png) !important;
}

.slick-next:before {
  content: url(../image/svg/right-arrow.png) !important;
}
.testi-slider .slick-prev:before,
.testi-slider .slick-next:before {
  position: absolute;
  top: 50%;
}
.testi-slider .slick-prev:before {
  transform: translate(-100%, -50%);
}
.testi-slider .slick-next:before {
  transform: translate(0%, -50%);
}
.testi-slider .slick-prev {
  left: -40px;
}
.testi-slider .slick-next {
  right: -40px;
}
.testi-slider.slick-slider {
  margin-bottom: 0px !important;
}
